127.0.0.1       localhost
202.148.11.5    sa-controller.dwp.net.id   sa-controller
202.148.11.6    sa-node1.dwp.net.id sa-node1

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters